<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298545787603-kq7fe0tfcdgnpgpl0ts17iel3ik1sse4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298545787603-kq7fe0tfcdgnpgpl0ts17iel3ik1sse4</string>
	<key>API_KEY</key>
	<string>AIzaSyC1DK2xRFEGLbGgPLbWeXIcxqazUgnz3NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>298545787603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.granjaavicola.app</string>
	<key>PROJECT_ID</key>
	<string>granjaavicola-3232a</string>
	<key>STORAGE_BUCKET</key>
	<string>granjaavicola-3232a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298545787603:ios:7852f56c98654894715a26</string>
</dict>
</plist>